__pycache__/
*.egg-info/
docs/_build/
/.vs/open-cytomat/FileContentIndex
/.vs/open-cytomat/v17/.wsuo
/.vs/open-cytomat/v17/DocumentLayout.json
*.bin
/.vs/open-cytomat/v17/DocumentLayout.backup.json
*.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/dist
/.vs/open-cytomat/v17/.wsuo
/.vs/open-cytomat/v17/DocumentLayout.json
/.vs/open-cytomat/v17/DocumentLayout.backup.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/myenv
/venv
/src/venv
